body {
  background-color: beige;
  color: black;
  height: 100%;
  margin: 0;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 5px 0;
}

p {
  font-size: 1.3em;
  margin-top: 7.5px;
  margin-bottom: 1.5px;
}

button {
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  color: #2980b9;
  padding: 12px 20px;
  font-size: 14px;
  margin: 5px;
}

.hangman-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
